

.brand__teaser {
	position: absolute;
	top: 15vh;
	margin-left: 50%;
	transform: translateX(-50%);

	font-family: 'Cutive Mono', monospace;
	font-size: 3rem;
	color: #f0f4ef;
}

p {
	font-family: 'Cutive Mono', monospace;
	font-size: 1.2rem;
	color: #f0f4ef;
}

