@font-face {
	font-family: 'TT Bluescreens';
	src: url('TT Bluescreens Medium.otf') format('otf');
}

@font-face {
	font-family: 'SecretaryTypewriter';
	src: url('SecretaryTypewriter_Jumpy.otf') format('otf');
}


.brand__h1 {
	font-family: 'TT Bluescreens';
	font-size: 30rem;
	color: white;
	opacity: .5;
}

.brand__teaser {
	position: absolute;
	top: 24vh;
	margin-left: 50%;
	transform: translateX(-50%);

	font-family: 'SecretaryTypewriter';
	font-size: 3rem;
	color: white;
}