
/* CONTROLS */
	.details__control-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* LEVEL SELECTOR */

		.details__level-box {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		.details__level-selector {
			width: 70vw;
		}

		.details__level-count {
			margin: 0 3rem;
			font-family: 'Six Caps', Helvetica, sans-serif; 
			font-size: 5rem;
			font-weight: 500;
			letter-spacing: .2rem;
			color: #f0f4ef;
		}
	/* BUTTONS */

		.details__button-box {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		.details__button {
			margin: 1rem;
			padding: 1rem;
			border-radius: 1rem;
			background-color: #b4cded;
		}
			.details__button:hover {
				background-color: #344966;
				cursor: pointer;
			}

		.details__button-copy {
			font-family: 'Six Caps', Helvetica, sans-serif; 
			font-size: 3rem;
			font-weight: 500;
			letter-spacing: .2rem;
			color: #0d1821;
		}


.details__stage {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5rem 0;
}

.details__card-box {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 80vw;
	padding: 1rem;
	/*border: 1px solid #344966;*/
}

.details__card {
	display: flex;
	align-items: center;
	justify-content: center;

	margin: 1rem;
	padding: 2rem;
	min-width: 9rem;
	min-height: 9rem;

	background-color: #344966;
	border-radius: 2rem;
	border: 2px solid #b4cded;
}
	.details__card:hover {
		background-color: #b4cded;
		cursor: pointer;
	}

.details__card-copy {
	font-family: Helvetica, sans-serif; 
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: .2rem;
	color: #f0f4ef;
}
