body {
	margin: -5px;
	overflow-x: hidden;
}

.layout__header-vid {
	/*margin: -10px;*/
	height: 110vh;
	margin-left: 50%;
	transform: translateX(-50%);
}

.layout__header-text {
	position: absolute;
	top: 30vh;
	margin-left: 50%;
	transform: translateX(-50%);
	width: 90vw;
	opacity: .5;
}